## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = list(random.sample(range(100),80))
print(sample_list_1)

[98, 59, 95, 39, 19, 74, 30, 27, 1, 46, 37, 92, 83, 88, 32, 41, 13, 89, 52, 81, 90, 57, 86, 25, 77, 11, 0, 55, 75, 79, 12, 3, 31, 23, 29, 22, 96, 69, 34, 62, 5, 80, 65, 97, 60, 93, 64, 42, 40, 67, 49, 4, 63, 84, 70, 76, 28, 24, 17, 48, 44, 99, 21, 61, 8, 26, 73, 20, 68, 9, 54, 50, 82, 72, 94, 6, 47, 87, 58, 14]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
len_set1 = len(set1)
print(set1)
print(len_set1)

# Length is still 80

{0, 1, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 37, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.choice(range(100)))
print(sample_list_2)

[26, 68, 51, 75, 70, 78, 65, 29, 89, 46, 8, 65, 30, 77, 81, 90, 17, 90, 5, 62, 55, 80, 41, 72, 71, 90, 78, 13, 98, 6, 94, 85, 57, 44, 76, 42, 14, 86, 1, 58, 11, 20, 62, 93, 76, 95, 63, 3, 73, 94, 9, 78, 91, 40, 34, 9, 27, 94, 4, 83, 42, 27, 97, 49, 43, 48, 49, 89, 25, 73, 4, 1, 11, 8, 24, 4, 93, 96, 59, 26]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
len_set2 = len(set2)
print(set2)
print(len_set2)

# No not 80 anymore

{1, 3, 4, 5, 6, 8, 9, 11, 13, 14, 17, 20, 24, 25, 26, 27, 29, 30, 34, 40, 41, 42, 43, 44, 46, 48, 49, 51, 55, 57, 58, 59, 62, 63, 65, 68, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 83, 85, 86, 89, 90, 91, 93, 94, 95, 96, 97, 98}
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)
print(len(set3))

{0, 12, 19, 21, 22, 23, 28, 31, 32, 37, 39, 47, 50, 52, 54, 60, 61, 64, 67, 69, 74, 79, 82, 84, 87, 88, 92, 99}
28

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)
print(len(set4))

{71, 43, 78, 51, 85, 91}
6

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{1, 3, 4, 5, 6, 8, 9, 11, 13, 14, 17, 20, 24, 25, 26, 27, 29, 30, 34, 40, 41, 42, 44, 46, 48, 49, 55, 57, 58, 59, 62, 63, 65, 68, 70, 72, 73, 75, 76, 77, 80, 81, 83, 86, 89, 90, 93, 94, 95, 96, 97, 98}
52

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
len_1 = len(set1)+len(set2)-len(set5)
len_2 = len(set3)+len(set4)+len(set5)
print(len_1,len_2)
print(len_1==len_2)

86 86
True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3,set5)
print(set6)

{0, 1, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 37, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
z = set1.issubset(set2)
y = set1.issubset(set3)
print(z,y)

# Should we assign variables to them, cause they dont display all if written without ones

False False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set_union345 = set3.union(set4,set5)
set_union12 = set1.union(set2)
set_union345==set_union12

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in range(len(list_to_remove)):
    if list_to_remove[i] in set1:
        set1.remove(list_to_remove[i])
    
print(set1)

{3, 4, 5, 6, 8, 12, 13, 14, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 37, 40, 42, 44, 46, 47, 48, 50, 52, 54, 55, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}